body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fdf8e1;
}




a {
    text-decoration: none;
    color: #000;
}




.home-button {
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    padding: 0.625em 1.25em;
    background-color: #fff;
    border: 0.125em solid #d2b48c;
    border-radius: 0.3125em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.home-button:hover {
    background-color: #d2b48c;
    color: #fff;
}