body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fdf8e1;
}



.banner {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    margin-bottom: 50px;
}
.banner-images {
    display: flex;
    position: absolute;
    animation: scrollRight 40s linear infinite;
}
.banner-images img {
    height: 150px;
    width: auto;
}
@keyframes scrollRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}



h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 5%;
    font-family: 'Calluna';
    color: #d2b48c;
    text-decoration: underline;
}



button {
    background-color: lightblue;
    height: 4em;
    font-weight: bold;
    border-color: black;
    border-width: 0.125em;
    border-style:solid;
}
button:hover {
    background-color: blue;
}

.topnav{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 5%;
}
#searchBar{
    width: 95%;
    height: 2em;
}
#searchBar input[type=text]{
    overflow: hidden;
}
.dropdown {
    position: absolute;
    margin-left: 2%;
    width: 96%;
    height: 4em;
    background: white;
    border: 1px solid #ccc;
    display: none;
    overflow-y: auto;
}
.dropdown div {
    cursor: pointer;
}
.dropdown div:hover {
    background: #ddd;
}



.country-flags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
.country-flags img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease;
}
.country-flags img:hover {
    transform: scale(1.1);
}